*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  background-color: #010a20;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
}

.button--learn-more {
  width: 100%;
  padding: 20px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: white;
  border-radius: 32px;
  background-color: #dd2242;
}
@media screen and (min-width: 1200px) {
  .button--learn-more {
    width: 180px;
    padding: 16px 0;
  }
}

.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
@media screen and (min-width: 375px) and (max-width: 1199px) {
  .header {
    padding-top: 58px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 0.81;
  text-transform: uppercase;
}
@media screen and (min-width: 375px) and (max-width: 1199px) {
  .header__logo {
    font-size: 21px;
    text-transform: uppercase;
  }
}
.header__logo > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__logo-img {
  margin-right: 5px;
  width: 21px;
  height: 32px;
}
.header__nav {
  margin-left: 60px;
}
@media screen and (min-width: 375px) and (max-width: 1199px) {
  .header__nav {
    display: none;
  }
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header .nav__item {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.hero {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.31)), to(rgba(0, 0, 0, 0.29))), url(../img/hero-bg_desktop.png);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.29)), url(../img/hero-bg_desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 153px;
  padding-bottom: 40px;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.31)), to(rgba(0, 0, 0, 0.29))), url(../img/hero-bg_mobile.png);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.29)), url(../img/hero-bg_mobile.png);
  }
}
.hero__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 120px;
  line-height: 1.0833333333;
  text-transform: uppercase;
  width: 620px;
  margin-bottom: 40px;
}
@media screen and (min-width: 375px) and (max-width: 1199px) {
  .hero__title {
    font-size: 58px;
    line-height: 1.0862068966;
    width: 314px;
  }
}
.hero__button {
  padding: 22px 64px;
  background-color: #dd2242;
  border-radius: 212px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: white;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .hero__button {
    width: 100%;
  }
}
.hero__down-content {
  margin-top: 241px;
  position: relative;
}
.hero__empty-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 198px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 40px;
}
@media screen and (min-width: 375px) and (max-width: 1199px) {
  .hero__empty-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
}

.empty__number {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #dd2242;
}
.empty__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5769230769;
}
.empty__text {
  font-size: 18px;
  line-height: 1.5555555556;
  color: rgb(147, 147, 147);
}
@media screen and (min-width: 375px) and (max-width: 1199px) {
  .empty__text {
    font-size: 16px;
    line-height: 1.5;
  }
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 180px;
}
@media screen and (max-width: 767px) {
  .articles {
    gap: 56px;
  }
}
.articles .article__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .articles .article__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 34px;
  }
}
@media screen and (max-width: 767px) {
  .articles .articles__beaches .article__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.articles .article__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1904761905;
}
@media screen and (max-width: 1199px) {
  .articles .article__title {
    font-size: 40px;
    line-height: 1.15;
  }
}
.articles .article__description {
  font-size: 18px;
  line-height: 1.5555555556;
  color: rgb(224, 224, 224);
}
@media screen and (max-width: 1199px) {
  .articles .article__description {
    font-size: 16px;
    line-height: 1.5;
  }
}
.articles .article__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 767px) {
  .articles .article__content > img {
    width: 100%;
    height: auto;
  }
}
.articles .article__button {
  margin-top: 32px;
}
.articles__walkways {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#010a20), to(rgba(1, 10, 32, 0.8823529412))), url(../img/walkways.png);
  background-image: linear-gradient(to top, #010a20, rgba(1, 10, 32, 0.8823529412)), url(../img/walkways.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 185px;
}
@media screen and (max-width: 767px) {
  .articles__walkways {
    padding-top: 40px;
  }
}
.articles__beaches {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#010a20), to(rgba(1, 10, 32, 0.8823529412))), url(../img/beaches.png);
  background-image: linear-gradient(to bottom, #010a20, rgba(1, 10, 32, 0.8823529412)), url(../img/beaches.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 185px;
}
@media screen and (max-width: 767px) {
  .articles__beaches {
    padding-bottom: 40px;
  }
}

.explore {
  padding-top: 40px;
  background-image: url(../img/explore-secrets-bg_desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .explore {
    background-image: url(../img/explore-secrets-bg_mobile.png);
  }
}
.explore__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  text-align: center;
  color: #010a20;
}
@media screen and (max-width: 767px) {
  .explore__title {
    font-size: 40px;
    leading-trim: NONE;
    line-height: 1.15;
    text-align: center;
  }
}
.explore__image-container {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .explore__image-container {
    margin-top: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 1199px) {
  .explore__image {
    width: 100%;
    height: auto;
  }
  .explore__image:not(:nth-child(1)) {
    display: none;
  }
}
@media screen and (min-width: 1350px) {
  .explore__image {
    width: 405px;
    height: auto;
  }
}

.numbers__content {
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 201px;
  padding-bottom: 224px;
  margin-top: 933px;
}
@media screen and (max-width: 767px) {
  .numbers__content {
    margin-top: 728px;
  }
}
.numbers__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .numbers__title {
    font-size: 40px;
    line-height: 1.15;
    width: 200px;
  }
}
.numbers__description {
  font-size: 18px;
  line-height: 1.5555555556;
  text-align: center;
  color: rgb(224, 224, 224);
  width: 484px;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .numbers__description {
    font-size: 16px;
    line-height: 1.5;
    width: 300px;
    margin-top: 53px;
  }
}
.numbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 128px;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .numbers__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.number__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  text-align: center;
  color: #dd2242;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .number__title {
    font-size: 40px;
    line-height: 1.15;
  }
}
.number__description {
  font-size: 18px;
  line-height: 1.5555555556;
  text-align: center;
  color: rgb(224, 224, 224);
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .number__description {
    font-size: 16px;
    line-height: 1.5;
    width: 300px;
  }
}

.map {
  background-image: url(../img/map-bg_desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 249px;
  padding-bottom: 256px;
}
@media screen and (max-width: 767px) {
  .map {
    background-image: url(../img/map-bg_mobile.png);
    padding-top: 171px;
    padding-bottom: 116px;
  }
}
.map__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.map__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1904761905;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 32px;
  width: 614px;
}
@media screen and (max-width: 767px) {
  .map__title {
    font-size: 40px;
    line-height: 1.15;
    margin-bottom: 36px;
    width: 314px;
  }
}
.map__description {
  font-size: 18px;
  line-height: 1.5555555556;
  text-align: center;
  color: rgb(111, 119, 135);
  margin-bottom: 36px;
  width: 450px;
}
@media screen and (max-width: 767px) {
  .map__description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 41px;
    width: 314px;
  }
}

.video {
  padding-top: 141px;
  padding-bottom: 210px;
  background-image: url(../img/video-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1904761905;
  text-align: center;
}
@media screen and (min-width: 375px) and (max-width: 1199px) {
  .video__title {
    font-size: 40px;
    line-height: 1.15;
  }
}
.video__player {
  position: relative;
  margin-top: 67px;
  margin-bottom: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .video__player {
    margin-bottom: 40px;
  }
}
.video__player > div {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #dd2242;
  background-image: url(../img/play_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .video__player > div {
    width: 67px;
    height: 67px;
    background-size: 12px;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .video__preview {
    width: 314px;
    height: auto;
  }
}
.video__previews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}
@media screen and (max-width: 767px) {
  .video__previews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.video__preview-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
}
@media screen and (max-width: 767px) {
  .video__preview-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.video__preview-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.video__preview-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .video__preview-title {
    font-size: 22px;
    text-align: center;
  }
}
.video__preview-description {
  font-size: 18px;
  line-height: 1.5555555556;
  color: white;
}
@media screen and (max-width: 767px) {
  .video__preview-description {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .video__preview-container > img, .video__preview-container {
    width: 100%;
    height: auto;
  }
}

.gallery {
  background-color: white;
  padding-top: 177px;
  padding-bottom: 229px;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .gallery {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}
.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.5;
  text-align: center;
  color: #010a20;
  margin-bottom: 42px;
}
@media screen and (max-width: 767px) {
  .gallery__title {
    font-size: 40px;
    line-height: 1.15;
  }
}
.gallery__description {
  font-size: 18px;
  line-height: 1.5555555556;
  text-align: center;
  color: rgb(111, 119, 135);
  width: 511px;
}
@media screen and (max-width: 767px) {
  .gallery__description {
    font-size: 16px;
    leading-trim: NONE;
    line-height: 1.5;
    width: 300px;
  }
}
.gallery__container {
  margin-top: 71px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 370px);
  gap: 30px;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .gallery__container {
    grid-template-columns: repeat(2, 151px);
    grid-template-rows: repeat(4, auto);
    gap: 12px;
  }
}
.gallery__item > img {
  display: block;
  width: 100%;
  height: auto;
}
.gallery__item-1 {
  grid-column: 1;
  grid-row: 1/span 2;
}
.gallery__item-2 {
  grid-column: 2;
  grid-row: 1;
}
.gallery__item-3 {
  grid-column: 3;
  grid-row: 1/span 2;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .gallery__item-3 {
    grid-column: 1;
    grid-row: 4;
  }
}
.gallery__item-4 {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .gallery__item-4 {
    grid-column: 1;
    grid-row: 3;
    align-self: normal;
  }
}
.gallery__item-5 {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .gallery__item-5 {
    grid-row: 2/span 2;
    align-self: normal;
  }
}
.gallery__item-6 {
  grid-column: 3;
  grid-row: 2;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .gallery__item-6 {
    grid-column: 2;
    grid-row: 4;
  }
}

.getting {
  background-color: rgb(220, 232, 242);
  padding-top: 118px;
  padding-bottom: 118px;
}
.getting__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.5;
  color: rgb(1, 10, 32);
  margin-bottom: 44px;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .getting__title {
    font-size: 40px;
    line-height: 1.15;
    text-align: center;
  }
}
.getting__plans {
  counter-reset: num;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 79px;
}
@media screen and (max-width: 767px) {
  .getting__plans {
    margin-top: 127px;
  }
}
.getting__plan {
  counter-increment: num;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .getting__plan {
    padding-left: 45px;
  }
}
.getting__plan::before {
  content: counter(num);
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  background: #e24a4a;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .getting__plan::before {
    left: 40%;
    top: -40%;
    width: 56px;
    height: 56px;
  }
}
.getting .plan__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5769230769;
  color: #010a20;
  margin-bottom: 28px;
}
@media screen and (max-width: 767px) {
  .getting .plan__title {
    text-align: center;
  }
}
.getting .plan__description {
  font-size: 23px;
  line-height: 1.652173913;
  letter-spacing: 0px;
  color: rgba(21, 20, 57, 0.4);
}
@media screen and (max-width: 767px) {
  .getting .plan__description {
    text-align: center;
  }
}
.getting .plan__d-part2--hidden {
  display: none;
}
.getting .plan__show-more {
  display: none;
  color: #dd2242;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .getting .plan__show-more {
    display: block;
  }
}
.getting .plan__travelling-content {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .getting .plan__travelling-content {
    display: none;
  }
}
.getting .travelling__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5769230769;
  color: #010a20;
  margin-bottom: 12px;
}
.getting .travelling__description {
  font-size: 23px;
  line-height: 1.652173913;
  color: rgba(21, 20, 57, 0.4);
  width: 446px;
}
.getting__button {
  margin-left: 45px;
  margin-top: 17px;
}
@media screen and (max-width: 767px) {
  .getting__button {
    margin-left: 0;
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 58px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .footer {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 63px;
    padding-bottom: 63px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__up {
  position: absolute;
  right: -300px;
  top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dd2242;
  width: 104px;
  height: 104px;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .footer__up {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: -10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24;
  line-height: 0.9;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center;
    line-height: 0.81;
  }
}
.footer__logo > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__logo > span > .text--accent {
  color: #dd2242;
}
@media screen and (min-width: 1200px) {
  .footer__lists {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .footer__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }
}
.footer__lists, .footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
}
@media screen and (max-width: 767px) {
  .footer__lists, .footer__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 36px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__menu-list {
    position: absolute;
    left: 124px;
  }
}
@media screen and (max-width: 767px) {
  .footer__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 38px;
  }
}
.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}
@media screen and (min-width: 1200px) {
  .footer__socials-list {
    position: absolute;
    left: 1000px;
  }
}
@media screen and (max-width: 767px) {
  .footer__socials-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 48px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    width: 158px;
    position: absolute;
    left: 1200px;
  }
}