*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  background-color: $background-color;
}

.container {
  @include size(100%);
  margin: 0 auto;
  padding: 0 15px;

  @include max-size(1200px);

  @media screen and (max-width: 1199px) {
    @include max-size(100%)
  }
}

.button--learn-more {
  @include size(100%);
  padding: 20px 0;

  @media screen and (min-width: 1200px) {
    @include size(180px);
    padding: 16px 0;
  }

  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: white;

  border-radius: 32px;
  background-color: $accent-color;

}
