.articles {
  display: flex;
  flex-direction: column;
  gap: 180px;

  @media screen and (max-width: 767px) {
    gap: 56px;
  }

  .article__content {
    display: flex;
    gap: 125px;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      gap: 34px;
    }
  }

  .articles__beaches .article__content {
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  .article__title {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(50 / 42);

    @media screen and (max-width: 1199px) {
      font-size: 40px;
      line-height: calc(46 / 40);
    }
  }

  .article__description {
    font-size: 18px;
    line-height: calc(28 / 18);
    color: rgba(224, 224, 224, 1);

    @media screen and (max-width: 1199px) {
      font-size: 16px;
      line-height: calc(24 / 16);
    }
  }

  .article__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .article__content > img {
    @media screen and (max-width: 767px) {
      @include size(100%, auto);
    }
  }

  .article__button {
    margin-top: 32px;
  }

  &__walkways {
    background-image: linear-gradient(to top, #010a20, #010a20e1),
      url(../img/walkways.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 185px;

    @media screen and (max-width: 767px) {
      padding-top: 40px;
    }
  }

  &__beaches {
    background-image: linear-gradient(to bottom, #010a20, #010a20e1),
      url(../img/beaches.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-bottom: 185px;

    @media screen and (max-width: 767px) {
      padding-bottom: 40px;
    }
  }
}
