.explore {
  padding-top: 40px;

  background-image: url(../img/explore-secrets-bg_desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 767px) {
    background-image: url(../img/explore-secrets-bg_mobile.png);
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
    color: $background-color;

    @media screen and (max-width: 767px) {
      font-size: 40px;
      leading-trim: NONE;
      line-height: calc(46 / 40);
      text-align: center;
    }
  }

  &__image-container {
    margin-top: 45px;

    display: flex;
    justify-content: center;
    gap: 30px;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }

  &__image {
    @media screen and (min-width: 375px) and (max-width: 1199px) {
      @include size(100%, auto);

      &:not(:nth-child(1)) {
        display: none;
      }
    }

    @media screen and (min-width: 1350px) {
      @include size(405px, auto);
    }
  }
}

.numbers {
  &__content {
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 201px;
    padding-bottom: 224px;

    margin-top: 933px;

    @media screen and (max-width: 767px) {
      margin-top: 728px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    text-align: center;

    @media screen and (min-width: 375px) and (max-width: 767px) {
      font-size: 40px;
      line-height: calc(46 / 40);
      @include size(200px);
    }
  }

  &__description {
    font-size: 18px;
    line-height: calc(28 / 18);
    text-align: center;
    color: rgba(224, 224, 224, 1);

    @include size(484px);

    @media screen and (min-width: 375px) and (max-width: 767px) {
      font-size: 16px;
      line-height: calc(24 / 16);
      @include size(300px);
      margin-top: 53px;
    }
  }

  &__list {
    display: flex;

    gap: 128px;

    margin-top: 40px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
}

.number {
  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    text-align: center;
    color: $accent-color;

    @media screen and (min-width: 375px) and (max-width: 767px) {
      font-size: 40px;
      line-height: calc(46 / 40);
    }
  }

  &__description {
    font-size: 18px;
    line-height: calc(28 / 18);
    text-align: center;
    color: rgba(224, 224, 224, 1);

    @media screen and (min-width: 375px) and (max-width: 767px) {
      font-size: 16px;
      line-height: calc(24 / 16);
      @include size(300px);
    }
  }
}
