.gallery {
  background-color: white;

  padding-top: 177px;
  padding-bottom: 229px;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    text-align: center;
    color: $background-color;

    margin-bottom: 42px;

    @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: calc(46 / 40);
    }
  }

  &__description {
    font-size: 18px;
    line-height: calc(28 / 18);
    text-align: center;
    color: rgba(111, 119, 135, 1);

    @include size(511px);

    @media screen and (max-width: 767px) {
      font-size: 16px;
      leading-trim: NONE;
      line-height: calc(24 / 16);
      @include size(300px);
    }
  }

  &__container {
    margin-top: 71px;

    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 370px);
    gap: 30px;

    @media screen and (min-width: 375px) and (max-width: 767px) {
      grid-template-columns: repeat(2, 151px);
      grid-template-rows: repeat(4, auto);
      gap: 12px;
    }
  }

  &__item > img {
    display: block;
    @include size(100%, auto);
  }

  &__item {
    &-1 {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
    &-2 {
      grid-column: 2;
      grid-row: 1;
    }
    &-3 {
      grid-column: 3;
      grid-row: 1 / span 2;

      @media screen and (min-width: 375px) and (max-width: 767px) {
        grid-column: 1;
        grid-row: 4;
      }
    }
    &-4 {
      grid-column: 1;
      grid-row: 2;
      align-self: end;

      @media screen and (min-width: 375px) and (max-width: 767px) {
        grid-column: 1;
        grid-row: 3;
        align-self: normal;
      }
    }
    &-5 {
      grid-column: 2;
      grid-row: 2;
      align-self: end;

      @media screen and (min-width: 375px) and (max-width: 767px) {
        grid-row: 2 / span 2;
        align-self: normal;
      }
    }
    &-6 {
      grid-column: 3;
      grid-row: 2;

      @media screen and (min-width: 375px) and (max-width: 767px) {
        grid-column: 2;
        grid-row: 4;
      }
    }
  }
}
