.video {
  padding-top: 141px;
  padding-bottom: 210px;

  background-image: url(../img/video-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(50 / 42);
    text-align: center;

    @media screen and (min-width: 375px) and (max-width: 1199px) {
      font-size: 40px;
      line-height: calc(46 / 40);
    }
  }

  &__player {
    position: relative;

    margin-top: 67px;
    margin-bottom: 125px;

    @media screen and (min-width: 375px) and (max-width: 767px) {
      margin-bottom: 40px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__player > div {
    @include size(96px, 96px);

    border-radius: 50%;
    background-color: $accent-color;
    background-image: url(../img/play_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 375px) and (max-width: 767px) {
      @include size(67px, 67px);
      background-size: 12px;
    }
  }

  &__preview {
    @media screen and (min-width: 375px) and (max-width: 767px) {
      @include size(314px, auto);
    }
  }

  &__previews {
    display: flex;
    gap: 75px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__preview-item {
    display: flex;
    align-items: center;
    gap: 41px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__preview-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__preview-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;

    @media screen and (max-width: 767px) {
      font-size: 22px;
      text-align: center;
    }
  }

  &__preview-description {
    font-size: 18px;
    line-height: calc(28 / 18);
    color: white;

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: calc(24 / 16);
      text-align: center;
    }
  }

  &__preview-container > img,
  &__preview-container {
    @media screen and (max-width: 767px) {
      @include size(100%, auto);
    }
  }
}
